apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
    name: prometheus
    namespace: prometheus
spec:
    releaseName: prometheus
    chart:
        spec:
            chart: prometheus
            sourceRef:
                kind: HelmRepository
                name: prometheus
                namespace: flux-system
            version: "14.0.0"
    interval: 1h0m0s
    timeout: 30m0s
    install:
        remediation:
            retries: 3
    valuesFrom:
        - kind: ConfigMap
          name: prometheus-values
